@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

* {
	font-family: 'Noto Serif KR', serif;
}

table { 
	width: 500px; 
	text-align: center;
}

th {
	background-color: #3652AD; 
	color: white
}

tr {
	background-color: #E9F6FF;
}

button#nav {
	background-color:#FE7A36; 
	color:white; width:100px; 
	height:30px;
}

button {
	background-color: #280274; 
	border: none; color:white; 
	border-radius:2px;
}